main {
    margin: 0 100px;
}

img {
    object-fit: cover;
}

button {
    text-decoration: none;
    border: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}

.photograph-header section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.name-photographer {
    color: #D3573C;
    font-size: 64px;
    margin: 0;
}

.location-photographer {
    color: #901C1C;
    font-size: 24px;
}

.slogan-photographer {
    font-size: 18px;
    color: #525252;
}

.img-photographer {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0px 50px 70px rgba(0, 0, 0, 0.1);  
}

.contact-button, .send-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover, .contact-button:focus {
    background-color: #DB8876;
    color: black;
}

/* modal */

#contact-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.close-modal {
    background-color: transparent;
}

.modal header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
}

.modal header img {
    cursor: pointer;
}

.title-modal {
    font-size: 64px;
    font-weight: normal;
    margin-top: 75px;
}

form label {
    font-size: 36px;
    color: #312E2E;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

form input {
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    font-family: sans-serif;
}

form #message {
    padding-bottom: 170px;
    font-size: 24px;
    font-family: "DM Sans", sans-serif;
}

/* display message error in form */
.formData[data-error]::after {
    content: attr(data-error);
    font-size: 15px;
    color: #525252;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #525252;
}


/* medias */

.medias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px; 
    margin-bottom: 130px;
}

.media-article {
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.medias img, .medias video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.info-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.title-media {
    font-size: 24px;
    color: #901C1C;
}

.likes-media {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 24px;
    color: #901C1C;
}

.likes-media i {
    cursor: pointer;
}


/* insert bottom */

.insert-info {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 50px;
    width: 376px;
    background-color: #DB8876;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.counter-likes {
    display: flex;
    align-items: center;
    gap: 6px;
}

.total-likes {
    font-size: 24px;
}

.fa-solid.fa-heart {
    font-size: 18px;
}

.price {
    font-size: 24px;
}


/* Sort */

.sort-medias {
    margin: 50px 0 50px 0;
}

.sort-medias label {
    font-weight: 700;
    font-size: 18px;
    margin-right: 20px;
}

#sort {
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    padding: 20px;
    background-color: #901C1C;
    color: white;
    width: 170px;
}


/* lightbox */

#lightbox-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#lightbox-modal .modal {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    font-size: 54px;
}

.close-lightbox {
    position: absolute;
    right: 200px;
    top: 75px;
    background-color: transparent;
    cursor: pointer;
}

.lightbox-media img, .lightbox-media video {
    max-width: 1050px;
    max-height: 900px;
    border-radius: 5px;
}
