img {
    object-fit: cover;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px 20px 100px;
    display: flex;
}

.photograph-header section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.name-photographer {
    color: #D3573C;
    font-size: 64px;
    margin: 0;
}

.location-photographer {
    color: #901C1C;
    font-size: 24px;
}

.slogan-photographer {
    font-size: 18px;
    color: #525252;
}

.img-photographer {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0px 50px 70px rgba(0, 0, 0, 0.1);  
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal {
    display: none;
    position: fixed;
    padding-top: 84px;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.title-modal {
    font-size: 64px;
    font-weight: normal;
    margin-top: 75px;
}

form label {
    font-size: 36px;
    color: #312E2E;
}


form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 26px;
    margin-top: 60px;
}

form input, form textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: sans-serif;
}

form textarea {
    padding-bottom: 170px;
}


/* Sort */


/* medias */ 

.medias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 
    margin-bottom: 130px;
}

.medias article {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-self: center;
    justify-content: center;
}

.medias img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.info-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    margin-top: 10px;
}

.title-media {
    width: 75%;
    font-size: 24px;
}

.likes-media {
    font-size: 24px;
}

.likes-media i {
    cursor: pointer;
    margin-left: 7px;
}

.insert-photographer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 40px;
    width: 376px;
    background-color: #DB8876;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.fa-solid.fa-heart {
    font-size: 18px;
}

.price {
    font-size: 24px;
}



/* filter */

.filter {
    display: flex;
    margin: 0 100px;
    gap: 30px;
    align-items: center;
    font-size: 18px;
    margin-bottom: 50px;
}