@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name-photographer {
    color: #D3573C;
    font-size: 36px;
}

.location-photographer {
    color: #901C1C;
    font-size: 13px;
}

.slogan-photographer {
    font-size: 10px;
}

.price-photographer {
    color: #757575;
    font-size: 9px;
}

.photographer_section article {
    margin: 0px;
}

.img-photographer {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0px 50px 70px rgba(0, 0, 0, 0.1);   
}